datasets
transformers
sentence-transformers
huggingface_hub
umap
hdbscan
numpy
pandas
matplotlib
seaborn
bertopic
bertopic[spacy]
ipykernel
ipywidgets
datamapplot
openpyxl
torch
xformers
nbformat
pip
shiny
pyqtree
ctransformers[cuda]
nltk