numpy==1.26.4
safetensors
openpyxl
pandas
datasets
transformers
sentence-transformers
huggingface_hub
umap-learn
hdbscan
matplotlib
seaborn
spacy
nltk
scispacy
bertopic
ipykernel
ipywidgets
datamapplot
torch
xformers
nbformat
shiny
pyqtree
beautifulsoup4
plotly
ipyleaflet
shinywidgets
rsconnect-python
networkx
statsmodels